.DS_Store
*.pyc
.idea
.idea/libraries
.idea/libraries
target/
target/*
target/streams
target/streams/*
project/target
logs/
.coverage
.cache
project/target
project/target/*

/dist
*.class
*password*
repositories.sbt
master/it/test-data/

.idea/gradle.xml
.generated/
.deployment/kubernetes/ap-archiver/charts
*.so
