version: "3.7"

services:

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
    volumes:
      - ./minio/data:/data
    environment:
      - MINIO_ACCESS_KEY=TESTKEY
      - MINIO_SECRET_KEY=TESTSECRET
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 35s
      timeout: 20s
      retries: 3
    command: server --compat /data

  mongo:
    image: mongo
    ports:
      - "27017:27017"

  mongoclient:
    image: mongoclient/mongoclient
    ports:
      - "3000:3000"

  localstack:
    image: localstack/localstack:0.11.1
    ports:
      - '4569:4569'
    environment:
      - SERVICES=dynamodb

  elasticmq:
    image: softwaremill/elasticmq-native:latest
    ports:
      - '9324:9324'

  redis:
    image: redis
    ports:
      - 6379:6379

  redisCluster:
    restart: always
    image: grokzen/redis-cluster:6.0.5
    ports:
      - "7000:7000"
      - "7001:7001"
      - "7002:7002"
      - "7003:7003"
      - "7004:7004"
      - "7005:7005"
    environment:
      - STANDALONE=true
      - IP=0.0.0.0

  elasticsearch:
    image: elasticsearch:7.10.1
    environment:
      discovery.type: single-node
    ports:
      - 9200:9200
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9200" ]
      interval: 30s
      timeout: 10s
      retries: 5